@font-face {
  font-family: Poppins-ExtraBold;
  src: url(./Poppins/Poppins-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Poppins-Semibold;
  src: url(./Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}